:root {
    --accent: #286c93;
    --surface: #ebebeb;
    --surface-variant: #dedede;
    --text: #3c3c3c;
    --text-strong: #2c2c2c;
    --text-weak: #7c7c7c;
    --border-radius: 10px;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--surface);
    color: var(--text);
    font-family: 'Droid Sans Mono', 'monospace', monospace;
    margin: 0;

    header {
        height: 30vh;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            color: var(--text-strong);
            font-size: 3em;
            margin-bottom: 0;
        }

        p {
            color: var(--text-weak);
            font-size: 1.5em;
            margin-top: 0;
            font-style: italic;
        }
    }

    main {
        max-width: 75em;
        padding: 2em;
        margin: auto;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2em;

        article {
            display: flex;
            flex-direction: column;
            align-items: center;


            img {
                aspect-ratio: 1/1;
                object-fit: cover;
                width: 100%;
                display: block;
            }

            p {
                font-size: 1em;
            }
        }

        @media (max-width: 70em) {
            max-width: 55em;
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 48em) {
            max-width: 33em;
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
